/* =========================================== Basics Of WebPage =========================================== */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #222222;
  color: white;
}

/* =========================================== Header Section =========================================== */

.Header_Full_Box {
  background-color: #721b1b;
  width: 100vw;
  display: flex;
}

.Logo {
  padding-left: 1vw;
  padding-right: 20vw;
  padding-top: 2.5vh;
  padding-bottom: 1vh;
}

#Logo {
  width: 10vw;
  height: 10vw;
  justify-items: left;
}

@media (max-width: 700px) {
  #Logo {
    width: 13vw;
    height: 13vw;
  }

}

.Header_Heading {
  padding-top: 3vh;
  padding-bottom: 2.5vh;
}

#Header_Heading_Text {
  color: rgb(255, 255, 44);
  text-align: center;
  text-decoration: none;
  font-size: 5vw;
  font-weight: 600;
  text-shadow: 10px 1px 4px rgb(0 0 0 / 50%);
}

#Header_Heading_Text:hover {
  text-decoration: none;
}

.Menu_Bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0.5vh 1vw;
  font-size: 2.2vw;
  font-weight: 500;
}

#YouTube_Link {
  color: rgb(255, 0, 0);
  font-size: 3vw;
  margin-right: 1.5vw;
  text-decoration: none;
}

#YouTube_Link:hover {
  padding: 0.75vw;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
}

#FaceBook_Link {
  color: rgb(47, 0, 255);
  font-size: 3vw;
  margin-right: 1.5vw;
  text-decoration: none;
}

#FaceBook_Link:hover {
  padding: 0.75vw;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(47, 0, 255);
}

#InstaGram_Link {
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 3vw;
  margin-right: 1.5vw;
  text-decoration: none;
}

#InstaGram_Link:hover {
  padding: 0.75vw;
  border-radius: 10px;
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  color: #fff;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: #fff;
  background-clip: border-box;
}

#WhatsApp_Link {
  color: rgb(5, 150, 0);
  font-size: 3vw;
  margin-right: 1.5vw;
  text-decoration: none;
}

#WhatsApp_Link:hover {
  padding: 0.75vw;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(5, 150, 0);
}

.Menu_Bar_Links {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 1vh 1vw;
}

.Menu_Bar_Links:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 2vh;
}

/* =========================================== Main Section =========================================== */



/* =========================================== Footer Section =========================================== */

.Footer_Full_Box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #721b1b;
  color: #fff;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.Footer_Sub_Box {
  flex: 1;
}

.Sub_Box_Heading {
  text-align: center;
  color: rgb(255, 255, 44);
  font-size: 2vw;
  margin-bottom: 1vh;
}

#Sub_Box_Text {
  color: #fff;
  font-size: 2.5vh;
  padding-left: 3vh;
  text-align: center;
}

.Sub_Box_All_Links {
  list-style: none;
  padding: 0;
  text-align: left;
  width: 200px;
  margin: 0 auto;
}

.Sub_Box_Links {
  text-decoration: none;
  color: #fff;
  font-size: 3vh;
  text-align: center;
}

#SDA_Mobile_Number {
  color: wheat;
  text-decoration: none;
  font-size: 2.5vh;
  text-align: center;
  padding-left: 17vh;
}

#Maps_Click_Link {
  text-decoration: none;
  color: #fff;
  font-weight: 1000;
  text-align: center;
}

.Iframe {
  width: 25vw;
  height: 25vh;
  text-align: center;
}

#Maps_Iframe {
  width: 20vw;
  color: red;
  height: 32vh;
}
