/* =========================================== Basics Of WebPage =========================================== */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #222222;
  color: white;
}

/* =========================================== Basic Variables =========================================== */

:root {
  --Header_Footer_Theme: #721b1b;
  --Header_Footer_Text_Color: #ffff2c;
  --YouTube_Color: #ff0000;
  --FaceBook_Color: #2f00ff;
  --InstaGram_Color: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  --WhatsApp_Color: #059600;
  --TeleGram_Color: #00a7a7;
  --Font_Size_Menu_Bar_Links: 2.2vw;
}

/* =========================================== Header Section =========================================== */

.Header_Full_Box {
  background-color: var(--Header_Footer_Theme);
  width: 100vw;
  display: flex;
}

.Logo {
  padding-left: 1vw;
  padding-right: 20vw;
  padding-top: 2.5vh;
  padding-bottom: 1vh;
}

#Logo {
  width: 10vw;
  height: 10vw;
  justify-items: left;
}

@media (max-width: 700px) {
  #Logo {
    width: 13vw;
    height: 13vw;
  }

}

.Header_Heading {
  padding-top: 3vh;
  padding-bottom: 2.5vh;
}

#Header_Heading_Text {
  color: var(--Header_Footer_Text_Color);
  text-align: center;
  text-decoration: none;
  font-size: 5vw;
  font-weight: 600;
  text-shadow: 10px 1px 4px rgb(0 0 0 / 50%);
}

#Header_Heading_Text:hover {
  text-decoration: none;
}

.Menu_Bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0.5vh 1vw;
  font-size: 2.2vw;
  font-weight: 500;
}

.Menu_Bar_Links {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 1vh 1vw;
}

.Menu_Bar_Links:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 2vh;
}

@media (max-width: 700px) {
  .Menu_Bar {
    font-size: 3vw;
  }

  :root {
    --Font_Size_Menu_Bar_Links: 4vw;
  }
}

@media (max-width: 500px) {
  .Menu_Bar {
    font-size: 3.5vw;
  }

  :root {
    --Font_Size_Menu_Bar_Links: 5vw;
  }
}


#YouTube_Link {
  color: var(--YouTube_Color);
  font-size: var(--Font_Size_Menu_Bar_Links);
  margin-right: 1.5vw;
  text-decoration: none;
}

#YouTube_Link:hover {
  padding: 0.75vw;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: var(--YouTube_Color);
}

#FaceBook_Link {
  color: var(--FaceBook_Color);
  font-size: var(--Font_Size_Menu_Bar_Links);
  margin-right: 1.5vw;
  text-decoration: none;
}

#FaceBook_Link:hover {
  padding: 0.75vw;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: var(--FaceBook_Color);
}

#InstaGram_Link {
  background: var(--InstaGram_Color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: var(--Font_Size_Menu_Bar_Links);
  margin-right: 1.5vw;
  text-decoration: none;
}

#InstaGram_Link:hover {
  padding: 0.75vw;
  border-radius: 10px;
  background: var(--InstaGram_Color);
  color: #fff;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: #fff;
  background-clip: border-box;
}

#WhatsApp_Link {
  color: var(--WhatsApp_Color);
  font-size: var(--Font_Size_Menu_Bar_Links);
  margin-right: 1.5vw;
  text-decoration: none;
}

#WhatsApp_Link:hover {
  padding: 0.75vw;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: var(--WhatsApp_Color);
}

#TeleGram_Link {
  color: var(--TeleGram_Color);
  font-size: var(--Font_Size_Menu_Bar_Links);
  margin-right: 1.5vw;
  text-decoration: none;
}

#TeleGram_Link:hover {
  padding: 0.75vw;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: var(--TeleGram_Color);
}

/* =========================================== Main Section =========================================== */



/* =========================================== Footer Section =========================================== */

.Footer_Full_Box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--Header_Footer_Theme);
  color: #fff;
  padding-top: 5vh;
  padding-bottom: 10vh;
  text-align: center;
}

.Footer_Sub_Box {
  flex: 1;
}

.Sub_Box_Heading {
  text-align: center;
  color: var(--Header_Footer_Text_Color);
  font-size: 2vw;
  margin-bottom: 2vh;
}

#Sub_Box_Text {
  color: #fff;
  font-size: 2.5vh;
  padding-left: 3vh;
  text-align: center;
  overflow: auto;
  height: 35vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#Sub_Box_Text::-webkit-scrollbar {
  display: none;
}

.Sub_Box_All_Links {
  list-style: none;
  padding: 0;
  text-align: left;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.Sub_Box_Links {
  text-decoration: none;
  color: #fff;
  font-size: 3vh;
  text-align: center;
  line-height: 5vh;
}

#SDA_Mobile_Number {
  color: wheat;
  text-decoration: none;
  font-size: 2.5vh;
  text-align: center;
}

#Maps_Click_Link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: 1.5vw;
}

.Iframe {
  width: 25vw;
  height: 25vh;
}

#Maps_Iframe {
  width: 20vw;
  height: 32vh;
}

@media (max-width: 900px) {
  .Footer_Sub_Box {
    flex: none;
    width: 100vw;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 7vh;
  }

  .Footer_Sub_Box_Last {
    flex: none;
    width: 100vw;
  }

  .Sub_Box_Heading {
    display: block;
    font-size: 4vh;
    padding-bottom: 5vh;
    padding-top: 5vh;
  }

  #SDA_Mobile_Number {
    font-size: 3.5vh;
  }

  #Maps_Click_Link {
    font-size: 3.5vh;
  }

  .Iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    height: 60vh;
  }

  #Maps_Iframe {
    width: 75vw;
    height: 60vh;
  }
}
